<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
<link rel="stylesheet" type="text/css" href='/styles.css'/>

        <main>
            <div>
              <form action="/players" method="POST">
                <fieldset>
                    <legend>Create a new Player</legend>

                    <label>
                        NAME: <input type="text" name="name" placeholder="enter a player name" />
                    </label>
                    <label>
                        POSITION: <input type="text" name="position" placeholder="enter a player position" />
                    </label>
                    <label>
                        COUNTRY: <input type="text" name="country" placeholder="enter a player country" />
                    </label>
                    <label>
                        PACING: <input type="text" name="PAC" placeholder="enter pacing stat (#60 - 100)" />
                    </label>      
                    <label>
                        SHOOTING: <input type="text" name="SHO" placeholder="enter shooting stat (#60 - 100)" />
                    </label>
                    <label>
                        PASSING: <input type="text" name="PAS" placeholder="enter passing stat (#60 - 100)" />
                    </label>
                    <label>
                        DRIBBLING: <input type="text" name="DRI" placeholder="enter dribbling stat (#60 - 100)" />
                    </label>
                    <label>
                        DEFENSE: <input type="text" name="DEF" placeholder="enter defense stat (#60 - 100)" />
                    </label>
                    <label>
                        PHYSICAL: <input type="text" name="PHY" placeholder="enter physical stat (#60 - 100)" />
                    </label>
                </fieldset>
                
                <input type="submit" value="Create New Player" />
              </form>        

            </div>
        </main>
    </body>
</html>