<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <h1><font color='white'>Welcome to Football Team Creator</font></h1>
    <h4><font color='white'>signup or login here!</font></h4>
    <main>
      <div>
        <a href="/user/signup"><button>Signup</button></a>
        <a href="/user/login"><button>Login</button></a>
      </div>
    </main>
    <style>
      body{
        background-image: url("https://images.unsplash.com/photo-1602472097151-72eeec7a3185?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80");
        background-size: cover;
      }
      h1{
        text-align: center;
      }
      h4{
        text-align: end;
      }
      div{
        text-align: end;
      }
    </style>
  </body>
</html>